/* -------------------- /
#Article page
/ --------------------- */

.all-articles{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    background: linear-gradient(to right, #16222cee 0%, #141b1fea 100%), url('../images/home/about\ \(4\).jpg') fixed no-repeat center;
    background-size: cover;
}

.all-articles h1{
    font-size: 45px;
    margin-bottom: 10px;
}