/* ----------------- /
#Reset
/ ----------------- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/*---------------------------/
#General
/-------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

.title {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
}

.title h2 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    color: #0493bf;
}

.title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #0493bf;
    bottom: 0;
    left: calc(50% - 20px);
}

.padding {
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.title h2 {
    font-size: 28px;
}


/* Media query */

@media screen and (max-width: 815px) {
    .padding {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 430px) {
    .padding {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/* ----------------- /
#Body
/ ----------------- */

body {
    font-size: 18px;
    /* color: #141b1fda; */
    color: #c0c0c0;
    background-color: #1c2a37f6;
    font-family: "Teachers", sans-serif;
}


/* ----------------- /
#Header
/ ----------------- */

header {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    -webkit-column-gap: 10px;
    justify-content: space-between;
    /* border-bottom: 1px solid #75747458; */
}

header .logo img {
    width: 70px;
    filter: invert(1) brightness(1);
}

.head-list ul {
    display: flex;
    align-items: center;
    gap: 20px;
    -webkit-column-gap: 20px;
}

.head-list ul li a {
    color: #c0c0c0;
    /* color: #141b1fda; */
}


/* ----------------- /
#Welcome
/ ----------------- */

.welcome-page {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #b1b1b1cb;
    justify-content: center;
    background: linear-gradient(to right, #16222cee 0%, #141b1fea 100%), url('../images/home/home.jpg') fixed no-repeat center;
    background-size: cover;
}

.welcome-container {
    width: 70%;
}

.welcome-text h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.welcome-text p{
    font-size: 20px;
}

.welcome-text a{
    color: #c0c0c0;
    padding: 15px 30px;
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #75747458;
}