/* ----------------- /
#Reset
/ ----------------- */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* ----------------- /
#Body
/ ----------------- */

body {
    font-size: 18px;
    color: #141b1fda;
    font-family: "Teachers", sans-serif;
}